@charset "UTF-8";
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clear:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out; }

img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover; }

ul {
  list-style: none;
  padding: 0; }

/*██████████ HEADINGS ██████████*/
h1, h2, h3, h4 {
  color: #FF1696;
  text-align: center; }

h1 {
  font-family: 'Press Start 2P', 'Consolas', sans-serif;
  font-size: 45px;
  z-index: 5; }

h2 {
  font-size: 30px;
  line-height: .9;
  margin-bottom: 60px;
  font-family: 'Roboto Slab', 'Consolas', sans-serif; }

h3 {
  font-size: 20px;
  margin-bottom: 10px;
  font-family: 'Roboto Slab', 'Consolas', sans-serif;
  text-transform: uppercase;
  margin-bottom: 15px; }

h4 {
  font-size: 20px;
  text-align: left; }

h5 {
  font-size: 12px;
  color: #fff; }

/*██████████ BODY COPY ██████████*/
body {
  color: #fff;
  font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
  font-weight: 300; }

p {
  line-height: 1.6; }

::-moz-selection {
  background: #FF1696;
  color: #000; }

::selection {
  background: #FF1696;
  color: #000; }

/*██████████ LINKS ██████████*/
a {
  text-decoration: none;
  color: #fff;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }
  a:hover {
    color: #FF1696;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out; }

@-webkit-keyframes fadeIn {
  0% {
    background-color: #000; }
  40% {
    background-color: #000; }
  100% {
    background-color: rgba(0, 0, 0, 0.25); } }

@keyframes fadeIn {
  0% {
    background-color: #000; }
  40% {
    background-color: #000; }
  100% {
    background-color: rgba(0, 0, 0, 0.25); } }

.fadeIn {
  -webkit-animation: fadeIn 7s ease 1;
          animation: fadeIn 7s ease 1; }

@-webkit-keyframes glowFlicker {
  0% {
    -webkit-filter: drop-shadow(0px 0px 15px #FF1696);
            filter: drop-shadow(0px 0px 15px #FF1696); }
  100% {
    -webkit-filter: drop-shadow(0px 0px 5px #FF1696);
            filter: drop-shadow(0px 0px 5px #FF1696); } }

@keyframes glowFlicker {
  0% {
    -webkit-filter: drop-shadow(0px 0px 15px #FF1696);
            filter: drop-shadow(0px 0px 15px #FF1696); }
  100% {
    -webkit-filter: drop-shadow(0px 0px 5px #FF1696);
            filter: drop-shadow(0px 0px 5px #FF1696); } }

.glowFlicker {
  -webkit-animation: glowFlicker .05s ease infinite;
          animation: glowFlicker .05s ease infinite; }

@-webkit-keyframes blink {
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes blink {
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.blink {
  -webkit-animation: blink .5s infinite;
          animation: blink .5s infinite; }

/*██████████ GLOBAL ██████████*/
.wrapper {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 95px; }

body {
  background: #000; }

svg {
  fill: #FF1696; }

section {
  background: #000; }

/*██████████ HEADER ██████████*/
/*██████████ NAV ██████████*/
.mainNav {
  position: absolute;
  top: 0;
  z-index: 10;
  width: 100%;
  margin-top: 60px; }
  .mainNav svg {
    height: 30px;
    float: left;
    margin-top: 15px;
    -webkit-filter: drop-shadow(0px 0px 5px #FF1696);
            filter: drop-shadow(0px 0px 5px #FF1696); }
  .mainNav ul {
    color: #FF1696;
    float: right;
    padding: 0; }
    .mainNav ul li {
      display: inline-block;
      line-height: 60px;
      margin-right: 30px;
      height: 60px; }
      .mainNav ul li:last-of-type {
        margin-right: 0px; }
      .mainNav ul li a {
        color: #FF1696;
        display: block; }
        .mainNav ul li a:hover {
          -webkit-box-shadow: inset 0px -1px 0px 0px #FF1696;
                  box-shadow: inset 0px -1px 0px 0px #FF1696;
          color: #FF1696; }

/*██████████ MAIN ██████████*/
main {
  height: 100vh; }

/*██████████ HEADER ██████████*/
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 500px;
  height: 100vh;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  position: relative; }
  header::after {
    content: "";
    display: block;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-image: url(/web/20180823064919im_/http://beckypollard.com/public/images/black-horizontal.png);
    opacity: .3;
    z-index: -1; }
  header .headerContent {
    margin: 0 auto; }

#reduceAnimation {
  position: absolute;
  display: block;
  color: #FF1696;
  background: rgba(0, 0, 0, 0);
  border: 0px;
  top: 20px;
  right: 0;
  padding-right: 30px;
  cursor: pointer;
  z-index: 50;
  -webkit-transition: none;
  transition: none;
  font-size: 12px; }
  #reduceAnimation:hover {
    color: #fff; }
  #reduceAnimation:after {
    content: "";
    position: absolute;
    right: 0;
    top: 20px;
    display: block;
    background: #FF1696;
    height: 1px;
    width: 60%; }
  #reduceAnimation:before {
    content: "";
    position: absolute;
    right: 0;
    display: block;
    background: #FF1696;
    height: 1px;
    width: 30%;
    top: 28px; }

canvas {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: -2; }

/*██████████ ABOUT ██████████*/
.about {
  width: 100%;
  padding-top: 125px;
  padding-bottom: 125px;
  background: #000;
  border-top: solid 1px #FF1696; }
  .about p {
    margin: 0 auto 15px auto;
    max-width: 730px; }

.portfolio {
  padding-top: 125px;
  border-top: solid 1px #FF1696; }

.portfolioPieces {
  width: 100%;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px; }
  .portfolioPieces .portfolioPiece {
    display: block;
    background: #000;
    max-width: 100%;
    border: solid 1px #FF1696;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out; }
    .portfolioPieces .portfolioPiece:hover {
      -webkit-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out;
      -webkit-transform: scale(1.03);
              transform: scale(1.03);
      -webkit-animation: glowFlicker .05s ease infinite;
              animation: glowFlicker .05s ease infinite; }
    .portfolioPieces .portfolioPiece .imageContainer {
      width: 100%; }
      .portfolioPieces .portfolioPiece .imageContainer img {
        -o-object-fit: cover;
           object-fit: cover;
        display: block;
        -webkit-filter: grayscale(100%) brightness(80%);
                filter: grayscale(100%) brightness(80%); }
        .portfolioPieces .portfolioPiece .imageContainer img:hover {
          -webkit-filter: grayscale(0%);
                  filter: grayscale(0%); }
    .portfolioPieces .portfolioPiece .portfolioDesc {
      min-height: 250px;
      color: #FF1696;
      padding-top: 30px;
      padding-bottom: 30px;
      padding: 30px 15px; }
      .portfolioPieces .portfolioPiece .portfolioDesc p {
        margin-top: 15px;
        color: #fff; }
        .portfolioPieces .portfolioPiece .portfolioDesc p a {
          color: #FF1696; }
      .portfolioPieces .portfolioPiece .portfolioDesc ul {
        margin-top: 15px; }
        .portfolioPieces .portfolioPiece .portfolioDesc ul li {
          border: solid 1px #FF1696;
          display: inline-block; }
          .portfolioPieces .portfolioPiece .portfolioDesc ul li a {
            padding: 5px 10px; }
            .portfolioPieces .portfolioPiece .portfolioDesc ul li a:hover {
              color: #FF1696; }

.skills {
  width: 100%;
  padding-bottom: 125px;
  padding-top: 125px;
  border-bottom: solid 1px #FF1696;
  color: #FF1696; }
  .skills ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
    margin: 0 auto;
    text-align: center; }
    .skills ul svg {
      height: 65px;
      width: 100%;
      -webkit-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out; }
      .skills ul svg:hover {
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        -webkit-transform: scale(1.15);
                transform: scale(1.15); }

.contact {
  padding-top: 125px;
  padding-bottom: 125px;
  text-align: center; }
  .contact h2 {
    margin-bottom: 15px; }
  .contact .contactForm {
    max-width: 730px;
    margin: 0 auto; }
    .contact .contactForm input, .contact .contactForm textarea {
      border: 0px;
      border: solid 1px #FF1696;
      background: #000;
      width: 100%;
      resize: vertical;
      margin-bottom: 30px;
      color: #fff;
      padding: 10px 10px; }
      .contact .contactForm input::-webkit-input-placeholder, .contact .contactForm textarea::-webkit-input-placeholder {
        color: #FF1696; }
      .contact .contactForm input:-ms-input-placeholder, .contact .contactForm textarea:-ms-input-placeholder {
        color: #FF1696; }
      .contact .contactForm input::-ms-input-placeholder, .contact .contactForm textarea::-ms-input-placeholder {
        color: #FF1696; }
      .contact .contactForm input::placeholder, .contact .contactForm textarea::placeholder {
        color: #FF1696; }
      .contact .contactForm input:focus, .contact .contactForm textarea:focus {
        -webkit-animation: glowFlicker .05s ease infinite;
                animation: glowFlicker .05s ease infinite;
        outline: 0px;
        border: solid 1px #FF1696;
        background: #FF1696;
        color: #000; }
    .contact .contactForm textarea {
      min-height: 150px; }
    .contact .contactForm input[type=submit] {
      border: solid 1px #FF1696;
      width: 33.33%;
      color: #FF1696;
      margin: 0 auto;
      display: block; }
      .contact .contactForm input[type=submit]:focus {
        color: #000; }
      .contact .contactForm input[type=submit]:hover {
        background: #FF1696;
        color: #000;
        -webkit-filter: drop-shadow(0px 0px 5px #FF1696);
                filter: drop-shadow(0px 0px 5px #FF1696); }
  .contact ul {
    margin-top: 30px; }
    .contact ul li {
      display: inline-block;
      margin-right: 15px; }
      .contact ul li:last-of-type {
        margin-right: 0; }
      .contact ul li a {
        color: #FF1696;
        font-size: 35px;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        .contact ul li a:hover {
          -webkit-filter: drop-shadow(0px 0px 5px #FF1696);
                  filter: drop-shadow(0px 0px 5px #FF1696);
          -webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out; }
        .contact ul li a svg {
          height: 35px; }

@media screen and (max-width: 1000px) {
  .skills ul {
    grid-template-columns: 1fr 1fr 1fr 1fr; }
  .portfolioPieces .portfolioDesc ul li {
    width: 100%;
    margin-bottom: 15px;
    text-align: center; } }

@media screen and (max-width: 900px) {
  .portfolioPieces {
    grid-template-columns: 1fr 1fr; } }

@media screen and (max-width: 700px) {
  h1 {
    font-size: 35px; }
  .portfolioPieces .portfolioDesc p span {
    display: none; } }

@media screen and (max-width: 600px) {
  .wrapper {
    padding-left: 30px;
    padding-right: 30px; }
  .portfolioPieces .mobileHide {
    display: none; } }

@media screen and (max-width: 550px) {
  .mainNav svg {
    height: 30px;
    width: 100%; }
  .mainNav ul {
    text-align: center;
    width: 100%; }
  h1 {
    font-size: 25px; }
  .about span {
    display: none; }
  .portfolio .portfolioPieces {
    grid-template-columns: 1fr; }
    .portfolio .portfolioPieces .portfolioPiece .imageContainer img {
      -webkit-filter: grayscale(0%);
              filter: grayscale(0%); }
  .skills ul {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 30px; }
    .skills ul li:last-of-type {
      display: none; }
    .skills ul li svg {
      height: 35px; }
  .contact .contactForm input[type=submit] {
    width: 100%; } }

@media screen and (max-width: 400px) {
  .cursor {
    display: none; }
  h1 {
    font-size: 30px; }
  h3 {
    font-size: 16px; }
  .mainNav svg {
    height: 18px;
    width: 100%; }
  .mainNav ul {
    text-align: center;
    width: 100%; }
    .mainNav ul li {
      margin-right: 20px; }
      .mainNav ul li:nth-child(4) {
        display: none; }
  .skills ul {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 30px;
    font-size: 12px; }
    .skills ul svg {
      height: 25px; }
  .contact ul {
    margin-top: 30px; }
    .contact ul li {
      display: inline-block;
      margin-right: 5px; }
      .contact ul li:last-of-type {
        margin-right: 0; }
      .contact ul li a {
        color: #FF1696;
        font-size: 35px;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        .contact ul li a:hover {
          -webkit-filter: drop-shadow(0px 0px 5px #FF1696);
                  filter: drop-shadow(0px 0px 5px #FF1696);
          -webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out; }
        .contact ul li a svg {
          height: 35px; } }

/*
     FILE ARCHIVED ON 06:49:19 Aug 23, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 14:58:40 Apr 28, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 168.013
  exclusion.robots: 0.137
  exclusion.robots.policy: 0.125
  RedisCDXSource: 4.557
  esindex: 0.01
  LoadShardBlock: 139.126 (3)
  PetaboxLoader3.datanode: 80.365 (4)
  CDXLines.iter: 21.842 (3)
  load_resource: 290.97
  PetaboxLoader3.resolve: 224.402
*/
